@model Final.Models.RoomModel

@{
    ViewBag.Title = "Create";
}

</br>
</br>
</br>

<div align="center" class="well offset3 span5">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     
<fieldset>
    <legend><h2>New Room</h2></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Facility_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Facility_ID)
            @Html.ValidationMessageFor(model => model.Facility_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoomCap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoomCap)
            @Html.ValidationMessageFor(model => model.RoomCap)
        </div>

        <p>
            <input type="submit" class="btn btn-small btn-primary" value="Add" /> |
             @Html.ActionLink("Back", "Index", "", new { @class="btn btn-mini"})
        </p>
    </fieldset>
}
        </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
