@model Final.Models.RoomModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RoomModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Facility_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Facility_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomCap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomCap)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Room_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
