<!DOCTYPE html>
<!--added lang='en'-->
<html lang="en">
<head>
    @Scripts.Render("~/bundles/jquery")

    <style media="screen" type="text/css">

        
        table.calendar {
    margin-bottom: 0;
}

        div.scrollWrapper{

  height:300px;
  width:800px;
  overflow:scroll;
}

table.calendar > thead > tr > th {
    text-align: center;
}

table.calendar > tbody > tr > td {
    height: auto;
}

table.calendar > tbody > tr > td > div {
    padding: 8px;
    height: auto;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

table.calendar > tbody > tr > td.has-events {
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}

table.calendar > tbody > tr > td.has-events > div {
    background-color: #08C;
    border-left: 1px solid white;
}

table.calendar > tbody > tr > td.has-events > div:first-child {
    border-left: 0;
    margin-left: 1px;
}

table.calendar > tbody > tr > td.has-events > div.practice {
    opacity: 0.7;
}
table.calendar > tbody > tr > td.conflicts > div > span.title {
    color: red;
}
table.calendar > tbody > tr > td.max-conflicts > div {
    background-color: red;
    color: white;
}

table.calendar > tbody > tr > td.has-events > div > span {
    display: block;
    text-align: center;
}
table.calendar > tbody > tr > td.has-events > div > span a {
    color: white;
}

table.calendar > tbody > tr > td.has-events > div > span.title {
    font-weight: bold;
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
    border: 0;
}

.table tbody tr.hover td, .table tbody tr.hover th {
    background-color: whiteSmoke;
}
       
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

     
    
 /*      
        html,body
        {
            height:100%;
        }
 
        #wrap
        {
          min-height: 100%;  
        }
 
        #main
        {
            overflow:auto;
            padding-bottom:150px; 
        }
 
        .footer 
        {
            position: relative;
            margin-top: -150px; 
            height: 150px;
            clear:both;
            padding-top:20px;
            color:#fff;
        } */

</style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width. initial-scale=1.0" /> <!--the last was argument added -->
    <title>@ViewBag.Title</title>
 @*   @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr"  uncommented from the original :Rabin) *@


    <!-- Le styles -->
    <link href="~/Content/bootstrap.css" media="screen" rel="stylesheet" />
  @*  <style>
        body{
            padding-top: 60px; /*60px to make the container go all the way to the boottom of the topbar*/
    </style>*@
    <link href="~/Content/bootstrap-responsive.css" media="screen" rel="stylesheet" />

   
    <!-- Le fav and touch icons //This is something new i don't know about :Rabin-->
    <link rel="shortcut icon" href="~/Content/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/icons/apple-touch-icon-57-precomposed.png">



</head>
<body>
    
    <!-- Bunch of code has been commented out and been added:Rabin-->
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
     <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="~/Home/Index">Semester Scheduling :</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class ="active">
                    <a href="#">Home</a>

                </li>
                <li>
                    <a href ="#about">About</a>
                </li>
                <li>
                    <a href ="#contact">Contact</a>
                </li>

             @* //this is how you filter the role in razor:RABIN
                @if (User.IsInRole("Head"))
              {
                  <strong> if you see me you are admin</strong>
              }*@
                
              
            @*  @if (User.Identity.IsAuthenticated)
              {
                  if (User.IsInRole("Head"))
                  {
                      <li><a class="hover" href="~/User/Index">Coordinators</a></li>
                      <li><a class="hover" href="~/Department/Index">Departments</a></li>
                      <li><a class="hover" href="~/Teacher/Index">Teachers</a></li>
                      <li><a class="hover" href="~/Semester/Index">Semesters</a></li>
                      <li><a class="hover" href="~/Course/Index">Courses</a></li>
                      <li><a class="hover" href="~/Room/Index">Rooms</a></li>
                      //<li><a class="hover" href="~/User/Index">Users</a></li>
                      //<li><a class="hover" href="~/Project/Index">All Projects</a></li>  
                      //<li><a class="hover" href="~/UAT/Index">All UATs</a></li>     
                      //<li><a class="hover" href="~/TestCase/Index">All Test Cases</a></li>  
                    
                  }
                  else 
                  {
                      <li><a class="hover" href="~/Department/Index">Departments</a></li>
                      <li><a class="hover" href="~/Teacher/Index">Teachers</a></li>
                      <li><a class="hover" href="~/Semester/Index">Semesters</a></li>
                      <li><a class="hover" href="~/Course/Index">Courses</a></li>
                      <li><a class="hover" href="~/Room/Index">Rooms</a></li>
                      //<li><a class="hover" href="~/User/Index">Users</a></li>
                      //<li><a class="hover" href="~/Project/Index">All Projects</a></li>  
                      //<li><a class="hover" href="~/UAT/Index">All UATs</a></li>     
                      //<li><a class="hover" href="~/TestCase/Index">All Test Cases</a></li>  
                    
                      //<li><a class="hover" href="~/Project/Index"> Project</a></li>
                  }
              
              }*@


            </ul>
              
              <div class="pull-right">
                    <a> 
                        @Html.Partial("_LoginPartial")
                    </a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
        </div>

   
    <div class="container-fluid">
       
   </div> <!-- /container -->

        <!-- le javascript
            =======================
            placed at the end of the document so the pages load faster -->
         
         <!-- calling the bootstrap jquery:Rabin-->
         <script src="~/Scripts/bootstrap.min.js"> </script>
         @RenderSection("scripts", required: false)

   
</body>

    <div id="wrap">
<div id="main" class="container-fluid">
         <div class="row-fluid"> 
 @if (User.Identity.IsAuthenticated){
          <div class="span3">
            <div class ="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header"></li>
                    @if (User.IsInRole("Head")){
                    <li>
                        <a class="hover" href="~/User/Index">Coordinators</a>
                        <ul>
                            <li>
                                <i class="icon-plus-sign"></i><a href="~/User/Create"> Add</a>
                            </li>
                        </ul>
                    </li>
                    }
                    <li>
                        <a class="hover" href="~/Department/Index">Departments</a>
                        <ul>
                            <li>
                                <i class="icon-plus-sign"></i><a href="~/Department/Create"> Add</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="hover" href="~/Teacher/Index">Teachers</a>
                        <ul>
                            <li>
                                <i class="icon-plus-sign"></i><a href="~/Teacher/Create"> Add</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="hover" href="~/Semester/Index">Semesters</a>
                        <ul>
                            <li>
                                <i class="icon-plus-sign"></i><a href="~/Semester/Create"> Add</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="hover" href="~/Course/Index">Courses</a>
                        <ul>
                            <li>
                                <i class="icon-plus-sign"></i><a href="~/Course/Create"> Add</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="hover" href="~/Room/Index">Rooms</a>
                        <ul>
                            <li>
                                <i class="icon-plus-sign"></i><a href="~/Room/Create"> Add</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                    <a class="hover" href="~/Calendar/Index">Calendar</a>
                    </li>
                    <li>
                </ul>
            </div>
        </div>
        <div class="span9" data-spy="scroll">
            @RenderBody() 
        </div>
 }
 else{
     <div class ="span12">
         @RenderBody()
     </div>
 }
    </div>
</div>
</div>
    
    
    
</html>

<hr />
    <footer class="footer-wrapper" style="text-align:center"">
    <p>Adam Miller | Chet Young | David Lucas | Britt Gautreaux | Scott Knight</p>
      <p>Need Help? Email <a href="mailto:adam.miller-2@selu.edu">adam.miller-2@selu.edu</a> for Tech Support</p>
      <p>© CMPS420 Fall 2013</p>
        </br>
</footer>
