@model Final.Models.SemesterModel

@{
    ViewBag.Title = "Create";
}

</br>
</br>
</br>

<div align="center" class="well offset3 span5">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     
<fieldset>
    <legend><h2>New Semester</h2></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <p>
            <input type="submit" class="btn btn-small btn-primary" value="Add" /> |
             @Html.ActionLink("Back", "Index", "", new { @class="btn btn-mini"})
        </p>
    </fieldset>
}
        </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
