@model Final.Models.SemesterModel

@{
    ViewBag.Title = "Details";
}

</br>
</br>
</br>

<div align="center" class="well offset3 span5">

<fieldset>
    <legend><h2>Semester Details</h2></legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Term_ID }) |
        @Html.ActionLink("Back", "Index", "", new { @class="btn btn-mini"})
    </p>
</fieldset>
