@model Final.Models.CourseModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CourseModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Catalog_Nbr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Catalog_Nbr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Section)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Section)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Enroll_Cap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enroll_Cap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total_Enroll)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total_Enroll)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Meeting_Pattern)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meeting_Pattern)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mtg_Start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mtg_Start)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mtg_End)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mtg_End)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLass_Stat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLass_Stat)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Class_Nbr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
