@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
</br>
</br>



<div class="hero-unit" style="text-align:center">

    @if(User.Identity.IsAuthenticated){

            /*
             if (User.IsInRole("Head")){
                 
                <h1> Hello, @HttpContext.Current.User.Identity.Name</h1>     
                <h2> You are the Department Head</h2>
            }
            if (User.IsInRole("Coordinator")){
                <h1> Hello, @HttpContext.Current.User.Identity.Name</h1>     
                <h2> You are a Department Coordinator</h2>
            }
              */
            
            if (User.IsInRole("Head")){
                 
                <h1> Hello, @HttpContext.Current.User.Identity.Name</h1>     
                <!--<h2> You are the Department Head</h2>-->
            }
            if (User.IsInRole("Coordinator")){
                <h1> Hello, @HttpContext.Current.User.Identity.Name</h1>     
                <!--<h2> You are a Coordinator</h2>-->
            }
            if (User.IsInRole("Assistant")){
                <h1> Hello, @HttpContext.Current.User.Identity.Name</h1>     
                <!--<h2> You are an Assistant</h2>-->
            }
             
           
    
            <!--
                <br />

              
              <p>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary btn-large btn-success">
                  Log Out
                </a>
              </p>
                -->
        
    }
    
    @if(!User.Identity.IsAuthenticated){
    

    <h1>Welcome! Ready to Schedule?</h1>
        <br />
    
    }

</div>






